<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Signup page</h1>
    <form method="post" action="/user/signup">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter your name" />
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email" />
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter your password" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>